.flight-form {
    padding: 2rem;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

button {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-bottom: 1rem;
}

mat-form-field {
    margin: 0 5px 5px 0;
}
